<style>
    #form-save-overlay {
        display: none;
        position: fixed;
        top: 80px;
        right: 80px;
        background-color: #28a745;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
    }
</style>

<div id="form-save-overlay">Saved</div>

<script>
    let showFormSaveOverlay = () => {
        $('#form-save-overlay').fadeIn(500, function () {
            setTimeout(function () {
            $('#form-save-overlay').fadeOut(500);
            }, 500);
        });
    }
</script>