{% extends "form_simp_base.html" %}

{% block content %}
{% load field_utils %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="page-header">
                <h2>Upload the CSV file of student's confidence intervals</h2>
            </div>

            <form enctype="multipart/form-data"  method="post" action="{{ request.path }}">
                
                {% form_default_fields form %}

                <button type="submit" class="btn btn-primary">Upload CIs </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}