{% extends "form_simp_base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    
    <div class="page-header">
      <h2>User {{ user.first_name }} {{ user.last_name }}</h2>
    </div>

    <form method="post" action="{% url 'account:edit' user.id %}">
      {% csrf_token %}

      {% for field in EditForm %}
          <div class="form-group row">
              <div class="col-md-2 col-form-label">
                  {{ field.label_tag }} 
              </div>
              <div class="col-md-3">
                  {{ field }}
              </div>
              <div class="col-md-6">
                {{ field.help_text }}
              </div>
          </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Update user information</button>
    </form>

  </div>
</div>
{% endblock %}
